@import "tailwindcss";
@plugin "tailwind-heropatterns";

@theme inline {
  --font-sans: var(--font-nunito);
  --font-serif: var(--font-bitter);

  --color-accent: light-dark(var(--color-blue-600), var(--color-blue-500));
  --color-accent-hover: var(--color-blue-500);

  --color-highlight: light-dark(var(--color-amber-600), var(--color-amber-500));
  --color-highlight-hover: var(--color-amber-500);

  /* Background Colors */
  --background-color-default: light-dark(
    var(--color-white),
    var(--color-gray-950)
  );
  --background-color-secondary: light-dark(
    var(--color-white),
    var(--color-gray-800)
  );
  --background-color-selection: light-dark(
    var(--color-blue-600),
    var(--color-blue-700)
  );
  --background-color-subtle: light-dark(
    var(--color-gray-100),
    var(--color-gray-800)
  );

  /* Text Colors */
  --text-color-body: light-dark(var(--color-gray-600), var(--color-gray-400));

  --text-color-heading: light-dark(
    var(--color-blue-700),
    var(--color-blue-300)
  );

  --text-color-secondary: light-dark(
    var(--color-blue-600),
    var(--color-blue-300)
  );

  --text-color-tertiary: light-dark(
    var(--color-blue-500),
    var(--color-blue-500)
  );

  --text-color-muted: light-dark(var(--color-gray-500), var(--color-gray-400));

  --text-color-emphasis: light-dark(
    var(--color-gray-950),
    var(--color-gray-300)
  );

  /* Button Colors */

  --background-color-button: var(--color-blue-700);
  --background-color-button-hover: var(--color-blue-600);
  --text-color-button: var(--color-white);

  --background-color-button-secondary: light-dark(
    var(--color-gray-200),
    var(--color-gray-800)
  );

  --background-color-button-secondary-hover: light-dark(
    var(--color-gray-300),
    var(--color-gray-700)
  );

  --text-color-button-secondary: light-dark(
    var(--color-gray-950),
    var(--color-white)
  );
}

@layer base {
  :root {
    color-scheme: light dark;
  }
}

@layer base {
  * {
    min-width: 0;
    @apply subpixel-antialiased;
  }

  html {
    font-size: 18px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-balance;
  }

  h1 {
    @apply text-emphasis text-2xl leading-tight font-semibold md:text-3xl;
  }

  h2 {
    @apply text-emphasis text-xl leading-tight font-bold md:text-2xl;
  }

  h3 {
    @apply text-emphasis text-base leading-tight font-semibold;
  }

  a {
    @apply text-emphasis decoration-accent hover:decoration-highlight-hover inline-flex items-center gap-1 underline underline-offset-4 transition-all duration-150;
  }

  p {
    @apply leading-relaxed font-light text-pretty;
  }

  strong {
    @apply text-emphasis font-semibold;
  }

  section {
    @apply py-4;
  }
}

@layer utilities {
  .content-grid,
  .content-full-width {
    display: grid;
    grid-template-columns:
      [full-width-start] minmax(1rem, 1fr) [content-start] minmax(
        min-content,
        75ch
      )
      [content-end] minmax(1rem, 1fr) [full-width-end];

    & > :not(.content-full-width, .absolute),
    .content-full-width > :not(.content-full-width, .absolute) {
      grid-column: content;
    }

    & > .content-full-width {
      grid-column: full-width;
      display: grid;
      grid-template-columns: inherit;
    }

    & > .content-inline-svg-background {
      grid-column: full-width;
    }
  }
}
